@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-bricolage);
}

body {
  background: #080808;
  color: #fff;
  font-family: var(--font-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
